{% load timedelta %}
<!doctype html>
<html>
<head>
	<title>Расписание поездов по станции {{ name }}</title>
	<style type="text/css">
		ul.trains {
			list-style: none;
			margin: 0px;
			padding: 0px;
		}
		ul.trains li {
			margin-top: 0.5ex;
			margin-bottom: 0.5ex;
			font-size: 0.8em;
		}

		table.calendar td {
			text-align: center;
			vertical-align: top;
		}

		.buttons a {
			display: inline-block;
			margin: 0em 1em;
		}
	</style>
</head>
<body>
	<h1>Расписание поездов</h1>

	<h2>
		Станция {{ name }}, {{ month }}.{{ year }}
	</h2>
	<div class="buttons">
		<a class="prevmonth" href="{% url "showstation" stationcode prevmonth.year prevmonth.month %}">Раньше</a>
		<a class="nextmonth" href="{% url "showstation" stationcode nextmonth.year nextmonth.month %}">Позже</a>
	</div>

	<table class="calendar">
		<tr>
			<th>Пн</th>
			<th>Вт</th>
			<th>Ср</th>
			<th>Чт</th>
			<th>Пт</th>
			<th>Сб</th>
			<th>Вс</th>
		</tr>
		{% for week in weeks %}
		<tr>
			{% for day in week %}
				<td>
				<div class="day">{{ day.day }}</div>
				<ul class="trains">
				{% for stop in day.stops %}
					<li>
						<div class="trainnumber"><a href="{% url "showtrain" stop.train.id %}">{{ stop.train.number }}</a></div>
						<div class="time">{{ stop.sorting_date|time:"H:i" }}</div>
					</li>
				{% endfor %}
				</ul>
				</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
</body>
</html>
